# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dados e Modelos
data/raw/*
data/processed/*
models/*
!models/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
